/*******************************
**  Main CSS Contents

	1. Global CSS
    2. Header
		2.1 Common Menu Items
		2.2 Desktop Menu
		2.3 Mobile Menu
    3. Front Page
    4. Secondary Page
    5. Footer
    6. VC Elements
    7. Media Queries
    8. Custom Additions
	9. Animations

*******************************/

/*******************************
**  1. Global CSS
*******************************/
body{
	background-color: #082060 !important;
	min-width: 320px !important;
	font-family: 'Verdana';
}

body #content{
	font-size: 18px;
}

a{

}

a:hover{

}

a:active{

}

ul, ol {
	margin: 0 0 1.5em 1.5em;
}

h1, h2, h3{
	padding: 0;
	color: #000;
	font-family: 'Ariel';
}

h4, h5, h6{
	color: #000;
	font-family: 'Ariel';
}

button, input[type="button"], input[type="submit"], .vc_btn3, .gform_button{
	background-color: #f17f29 !important;
	border: 2px solid #f17f29 !important;
}

div:not(.wpfc-calendar-wrapper) button:hover, input[type="button"]:hover, input[type="submit"]:hover, .vc_btn3:hover, .gform_button:hover{
	background-color:  transparent !important;
	color: #f17f29 !important;
}

.site-header, .site-content-contain{
	background-color: transparent !important;
}

.wrap {
	background-color: #fff;
}

.page:not(.home) #content, body.post-type-archive-gallery #content, body.single #content, body.single-gallery #content, body:not(.home) #content{
    padding: 0;
}

body:not(.home) #content .wrap, .page:not(.home) #content .wrap, body.post-type-archive-gallery #content .wrap, body.single #content .wrap, body.single-gallery #content .wrap{
    padding: 3em;
	min-height: calc(100vh - 275px);
}

footer#colophon {
	margin-top: 0;
}

.site-footer{
	border-top: 0;
}

.site-footer .wrap {
    border-top: 1px solid gray;
}

article.gallery, body.search article{
	float: none !important;
	width: 100% !important;
}

/*******************************
**  2. Header
*******************************/
#masthead .wrap{
	background-color: #fff;
	padding: 10px 3em;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.logo-wrapper{
	width: 325px;
	height: 100px;
	display: flex;
	display: -webkit-flex;
	-ms-flex-align: center;
}

.logo-wrapper a{
	margin: auto;
}

.logo-wrapper img{
	width: 100%;
	max-height: 100%;
}

.search-form{
	display: inline-flex;
	display: -webkit-inline-flex;
	-ms-flex-align: center;
}

.menu-area-search .search-field{
	width: auto;
	height: 30px;
	font-size: 12px;
	box-shadow: 0 0 10px 0 #d1d1d1;
}

.menu-area-search .search-submit{
	bottom: 0;
	padding: 5px 10px;
	position: relative;
	top: 0;
	right: 0;
	margin-left: 5px;
	border-radius: 50px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
	height: 30px;
}

/*******************************
**  2.1 Common Menu Items
*******************************/


/*******************************
**  2.2 Desktop Menu
*******************************/
ul#top-menu {
	list-style: none;
}

ul#top-menu li {
	display: inline;
    position: relative;
    font-size: 12px;
    text-transform: lowercase;
    font-weight: 700;
}

ul#top-menu li:not(:last-child):after {
    content: '|';
    margin: 0 0 0 5px;
	color: grey;
	font-weight: 300;
}

ul#top-menu > li a{
	color: #082060;
	text-decoration: none;
}

.main-nav-wrapper {
    background-color: #7c89ac;
}

.main-nav-wrapper .wrap {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	padding: 0px 3em !important;
	background: linear-gradient(to bottom, #7c89ac 0%, #082060 50%) !important;
}

.main-menu-container{
	display: flex;
	display: -webkit-flex;
	-ms-flex-align: center;
}

ul#main-menu {
	list-style: none;
	margin: auto;
	z-index: 2;
}

ul#main-menu li {
	display: inline-block;
	position: relative;
}

ul#main-menu > li > a{
	border-left: 1px solid #fff;
}

ul#main-menu > li:not(:first-child){
	margin-left: -5px;
}

ul#main-menu a {
	color: #fff;
	text-decoration: none;
	padding: 5px 15px;
	text-transform: uppercase;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
}

ul#main-menu > li:nth-last-child(1) > a {
	border-right: 1px solid #fff;
}

li.pay-bill a {
	background-color: #107d3c !important;
}

ul#main-menu li a:hover{
	background-color: #107d3c !important;
}

ul.sub-menu {
	margin: 0;
	position: absolute;
	background-color: #082060;
	min-width: 200px;
	opacity: 0;
	z-index: -1;
	display: none;
}

ul.sub-menu a{
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	font-size: 12px;
}

ul.sub-menu.second-sub{
    left: 100%;
	top: 0;
}

ul.sub-menu.second-sub li:nth-child(1) a{
	border-top: 1px solid #fff;
}

.show-sub-menu{
	opacity: 1 !important;
	z-index: 1 !important;
	display: block !important;
}

ul.sub-menu li, ul.sub-menu a{
    width: 100%;
}

.mobile-menu-holder{
	display: none;
}

/*******************************
**  2.3 Mobile Menu
*******************************/
@media (max-width: 991px) {
	.mobile-menu-holder{
		position: relative;
	}

	.mobile-menu-wrapper {
	    position: fixed;
	    width: 100%;
	    z-index: 2;
	}

	.menu-bar-wrapper {
	    position: absolute;
	    width: 50px;
	    height: 50px;
	    right: 0;
	    background-color: #082060;
		z-index: 1;
		display: flex;
		-ms-flex-align: center;
		display: -webkit-flex;
	}

	.bars-wrapper{
		margin: auto;
		cursor: pointer;
	}

	.bar1, .bar2, .bar3{
		width: 30px;
		height: 3px;
		background-color: #fff;
		margin: 5px 0;
		transition: 0.5s ease;
	}

	.bars-wrapper.change > .bar1{
		transform: rotate(135deg) translate(6px, -6px);
		-webkit-transform: rotate(135deg) translate(6px, -6px);
	}

	.bars-wrapper.change > .bar3{
		transform: rotate(45deg) translate(-5px, -5px);
		-webkit-transform: rotate(45deg) translate(-5px, -5px);
	}

	.bars-wrapper.change > .bar2{
		opacity: 0;
	}

	.mobile-nav-wrapper{
		position: absolute;
		height: 100vh;
		transition: 0.25s ease-in-out;
		width: 100%;
		right: -100%;
		background-color: #082060;
	}

	.mobile-menu-container {
		margin-top: 50px;
		max-height: calc(100vh - 100px);
		overflow: auto;
	}

	ul#mobile-menu {
		margin: 0;
		list-style: none;
	}

	ul#mobile-menu li{
		position: relative;
	}

	ul#mobile-menu li.current-menu-item a{
		background-color: #107d3c;
	}

	li.current-menu-item ul.sub-menu a {
    	background-color: #082060 !important;
	}

	ul#mobile-menu li a, ul#mobile-menu ul.sub-menu li a {
		padding: 5px 50px 5px 20px;
		width: 100%;
		color: #fff;
		font-weight: 600;
		text-transform: uppercase;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
	}

	ul#mobile-menu ul.sub-menu{
		position: relative;
		display: block;
		opacity: 1;
		z-index: 0;
		list-style: none;
		margin: 0 20px;
		height: 0;
		overflow: hidden;
	}

	ul#mobile-menu ul.sub-menu li a{
		border-left: 0px solid transparent;
		border-right: 0px solid transparent;
		border-bottom: 0px solid transparent;
		font-size: 16px;
		font-weight: 400;
    	text-transform: capitalize;
	}

	i.fas.fa-plus.open-menu-icon {
	    position: absolute;
	    top: 9px;
	    color: #fff;
	    right: 16px;
		transition: 0.25s ease;
	}

	.nav-wrapper-show{
		right: 0;
	}

	.close-menu-icon{
		transform: rotate(45deg);
	}

	.show-mobile-sub-menu{
		height: auto !important;
	}

	.menu-area-search{
		display: none;
	}

	.mobile-menu-icon{
		display: block !important;
	}

	.icon-menu-container{
		text-align: center;
	}

	ul#icon-menu {
	    list-style: none;
	    margin: 0;
	}

	ul#icon-menu li {
	    display: inline-block;
	}

	ul#icon-menu img {
	    width: 35px;
	}

	.show-search{
		display: block !important;
		margin-top: 10px;
	}
}

.mobile-menu-icon{
	display: none;
}

/*******************************
**  3. Front Page
*******************************/
section#home-sider-section .wrap{
	padding: 0 0 3em 0;
}

.slider-image-wrapper{
	background-size: cover !important;
	background-position: center center !important;
	height: 400px;
}

.content_row-wrapper {
	position: relative;
	margin-bottom: 1em;
}

.content_row-wrapper:not(:last-child):after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: rgba(0,0,0,0.1);
}

.content_row-wrapper p, .content_row-wrapper h2, .content_row-wrapper h3{
	margin: 0;
	padding-bottom: 1em;
}

/*******************************
**  4. Secondary Page
*******************************/
/*-- Gallery Page Archive --*/
.gallery-wrapper a, .gallery-wrapper a:hover{
	color: #000;
	text-decoration: none;
}

.gallery-img {
	width: 100%;
	height: 250px;
	background-size: cover !important;
}

.gallery-title {
	padding: 10px 0;
	text-align: center;
	font-weight: 700;
	border-bottom: 1px solid #000;
}

.prop-img-wrapper{
	padding: 25px 12.5px;
}

.prop-img{
	height: 150px;
	background-size: cover !important;
}

.slick-current .prop-img {
	border: 5px solid #082060;
}

.slick-dots li.slick-active button:before {
	opacity: 1;
	color: #082060;
}

.slick-prev, .slick-next{
	top: 100% !important;
	transform: translate(0, 25%) !important;
	-webkit-transform: translate(0, 25%) !important;
	-ms-transform: translate(0, 25%) !important;
	z-index: 2;
}

.slick-prev:before, .slick-next:before{
	color: #082060  !important;
}

.slick-prev{
	left: 0 !important;
}

.slick-next{
	right: 0 !important;
}

.for-img-wrapper img{
	margin: auto;
}

.gallery-content-wrapper{
	text-align: center;
}

/*******************************
**  5. Footer
*******************************/
.footer-info{
	text-transform: uppercase;
	color: #003366;
	margin-bottom: 1em;
}

.copywright, .disclaimer {
    font-size: 12px;
	color: #003366;
}

.e74{
	color: #999999;
}

.e74 a{
	text-decoration: underline;
	color: #999999;
}

/*******************************
**  6. VC Elements
*******************************/
.solutions-wrapper{
	padding: 5px 15px;
	background-color: #e6e6e6;
	margin-bottom: 1.5em;
	border: 1px solid;
}

.solutions-title{
	text-decoration: underline;
	margin-bottom: 5px;
}

.solutions-content{
	color: #ff0066;
	font-size: 14px;
	font-style: italic;
}

.ellipsis{
	color: #000;
}

/*******************************
**  7. Media Queries
*******************************/
@media (max-width: 991px) {
	.main-menu-wrapper, .top-menu-wrapper{
		display: none;
	}

	.mobile-menu-holder{
		display: block;
	}
}

@media (max-width: 767px) {
	.logo-wrapper{
		width: 100%;
	}

	.menu-area-search{
		text-align: center;
		max-width: 100%;
	}

	.content_row-wrapper{
		text-align: center;
	}
}

@media (max-width: 575px) {
	.gallery-content-wrapper{
		margin-top: 15px;
	}

	.prop-img-wrapper {
		padding: 0px 12.5px 25px 12.5px;
	}
}

/*******************************
**  8. Custom Additions
*******************************/


/*******************************
**  9. Animations
*******************************/
